@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

body {
  font-size: 16px;
  p {
    color: red;
  }
}

* {
  color: red;
}

h1 {
  color: blue;
  @media (max-width: 767px) {
    color: blue;
  }
}

h2 {
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    color: red;
  }
}

body {
  background-image: url("../img/2.png");
}
